<!DOCTYPE html>
<html>
<head>
    <title>Магазин модной одежды</title>
</head>
<body>
    <header>
        <h1>Одежда и обувь для комфортной жизни</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/clothes/">Одежда</a></li>
            <li><a href="/shoes/">Обувь</a></li>
            <li><a href="/where_to_buy/">Где купить</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>Указанные на сайте цены не являются публичной офертой и могут быть изменены в любое время.</p>
        <p>Свяжитесь с нами по телефону +7 (495) 123-45-67 или по электронной почте <a href="mailto:temp@example.com">temp@example.com</a></p>
    </footer>
</body>
</html>